html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#header {

    height: 15%;
    width: 100%;
    color: #000000;
    background-color: #b3da49
}
#menu {
    float: left;
    height:75%;
    width: 20%;
    color: #000000;
    background-color: rgba(254, 255, 99, 0.77)
}
#content {
    float: right;
    height:75%;
    width: 80%;
    color: #000000;
    background-color: #a0ff89
}
#footer {

    bottom:10px;
    height: 10%;
    width: 100%;
    color: #000000;
    background-color: #c18664
}
.imagen_producto{
    max-height: 300px;

}

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.row-margin { margin-top:40px; }