html,body
{
    height: 100%;
    margin: 0;
    padding: 0;
}
#header {

    height: 15%;
    width: 100%;
    color: #000000;
    background-color: #b3da49
}
#logo_tienda
{
    width: 250px;
    vertical-align: middle;
}
#menu {

    width: 70%;
}
#destacados .imagen_producto {
    max-height: 200px;

}
#login {
    width: 300px;
    margin: 0 auto;
}
#registro {
    width: 450px;
}
#content {
    float: right;
    height:75%;
    width: 80%;
    color: #000000;
    background-color: #a0ff89
}
#footer {

    bottom:10px;
    height: 10%;
    width: 100%;
    color: #000000;
    background-color: #c18664
}
.imagen_producto{
    height: 300px;
}

.inputs-izquierda
{
    float: left;
}

.inputs-derecha
{
    float: right;
}
.form-control
{
   margin-bottom: 20px;
}
.cantidad
{
    width: 50px;
}
.jumbo
{
    padding: 100px;
    background: #5a0099;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
    }
    .sidebar-nav .navbar ul:not {
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.row-margin { margin-top:40px; }